:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

/* Base styles */

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}

h1,
h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: block;
    width: 100%;
}

/* nav */

.nav {
    display: flex;
    background: #ffccbb;
    position: fixed;
    width: 100%;
    height: 10vh;
}

.nav > h3 {
    font-size: 4.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    padding: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    margin-left: auto;
}
.nav-links li a {
    color: grey;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200px;
}
.nav-links a {
    display: block;
    font-size: 2.2rem;
    padding-top: 2rem;
}
.nav-links a:hover,
.nav-links a:active{
    color: brown;
    border-bottom: 5px solid brown;
}
@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    nav{
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links{
        position: fixed;
        background: #6c5f5b;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Welcome section */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #6eb5c0;
    background-image: linear-gradient(62deg, #6eb5c0 0%, #8fd0d8 100%);
}

.welcome__section--content {
    text-align: center;
    margin: 20px;
    position: sticky;
    top: 100px;
}

.welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
}

.welcome__section--jobname {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

/* Projects section */

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: #006c84;
    background-image: linear-gradient(62deg, #006c84 0%, #045061 100%);
}

.projects-section-header {
    max-width: 260px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid white;
}

@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
}

.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #ff7f50;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

/* Button click me */

/* .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.btn-show-all {
    font-size: 2rem;
    background: #f2e70d;
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: #968f08;
    color: #fefdec;
}

.btn-show-all:hover > i {
    transform: translateX(2px);
} */

/* .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
} */

.button {
    background-color: #004A7F;  
    -webkit-border-radius: 10px;  
    border-radius: 10px;    
    border: none;    
    color: #FFFFFF;    
    cursor: pointer;    
    display: inline-block;    
    font-family: Arial;    
    font-size: 20px;    
    padding: 5px 10px;    
    text-align: center;   
    text-decoration: none;
   
  }

  @-webkit-keyframes glowing {
    0% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
    50% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
    100% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
  }
   
  @-moz-keyframes glowing {
    0% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
    50% { background-color: #0094FF; -moz-box-shadow: 0 0 10px #0094FF; }
    100% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
  }
   
  @-o-keyframes glowing {
    0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
    50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
    100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  }
   
  @keyframes glowing {
    0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
    50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
    100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  }
   
  .button {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }

.status {
    font-size: 30px;
    color: white;
    padding: 10px 15px;
}

/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: #e2e8e4;
}

.contact-section-header > h2 {
    font-size: 6rem;
    color: #e4a51d;
}

@media (max-width: 28.75em) {
    .contact-section-header > h2 {
        font-size: 4rem;
    }
}

.contact-section-header > p {
    font-style: italic;
    color: #e4a51d;
    font-size: 20px;
    font-weight: bold;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}

.typing {
    position: relative;
}
.typing::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    border-right: 4px solid #e4a51d;
    animation: blink 1s infinite ease;
}

/* Footer */

.main-footer {
    background: #4f4a45;
    padding: 32px;
}

.main__footer--links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main__footer--link {
    display: inline-block;
    margin: 0 120px;
}

.main__footer--name {
    color: #f0bc89;
}

@media (max-width: 28.75em) {
    .main-footer {
        flex-direction: column;
        text-align: center;
    }
}
